{
  "name": {{project_name}},
  "version": {{project_version}},
  "description": {{project_description}},
  "main": "index.ts",
  "scripts": {
    "start": "nodemon src/index.ts",
    "build": "tsc -p ./"
  },
  "keywords": [
    "swagger"
  ],
  "license": "Unlicense",
  "private": true,

}
